<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for book in books %}
        {% if loop.index == id %}
            Book title: {{book['title']}} <br>
            Book author: {{book['author']}} <br>
            Current rating: {{book['rating']}}
            <br><br>
            <form action="/edit/{{id}}" method="POST">
              <label for="name">New rating:</label>
              <input type="text" id="name" name="rating" required>
              <button type="submit">Submit</button>
            </form>

        {% endif %}
    {% endfor %}
</body>
</html>